@import '../../global/estilosGlobales.css';

main h1 {
    font-size: 40px;
    margin: 50px;
    text-align: center;
}

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.itemProducto {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.itemProducto:last-child {
    border-bottom: none;
}

#imgProducto img{
    padding: 20px;
    width: 200px;
}

.datosProducto {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.datosProducto h2 {
    margin-top: 60px;
    margin-right: 120px;
}

.datosProducto p {
    font-size: 20px;
    margin-top: 65px;
}

form {
    display: inline-flex;
    translate: 0 -40px;
}

.cantidadProducto {
    align-items: center;
    align-content: center;
    background-color: #d9d9d9;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    width: 180px;
}

.cantidadProducto button{
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;   
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    min-height: 25px;
    min-width: 25px; 
}

.cantidadProducto input {
    border-radius: 10px;
    background-color: #939393;
    border: none;
    color: black;
    cursor: default ;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
    outline: none;
    padding-left: 12px;
    text-align: center;
    width: 90px;
}

#eliminar {
    margin-left: 180px;
}

#eliminar button img {
    width: 20px;
    height: 20px;
}

#eliminar button {
    width: 85px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #ff4640;
    cursor: pointer;
}

aside {
    height: 320px;
    width: 250px;
    translate: 800px 150px;
    position: fixed;
    padding: 10px;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 230px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 1px rgb(200,200,200);
}

.sub-total, .envio, .total {
    margin: 10px 0;
    display: flex;
    width: 210px;
    justify-content: space-between;
}

.sub-total h3, .envio h3, .total h3{
    font-size: 16px;
}

.sub-total, .envio {
 border-bottom: 1px solid rgba(0,0,0,.3);
}

.caja button {
    margin-top: 60px;
    border: none;
    padding: 8px 50px;
    background: #ffa600;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.metodoPago {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.metodoPago img{
    width: 35px;
    height: 25px;
}