

/* Imagen principal */
.imagen {
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
}

.imagen img {
    border-radius: 8px;
    height: auto;
    width: 100%;
}

/* Producto individual */
.producto img {
    border-radius: 8px;
    margin-bottom: 40px;
}

.producto h3 {
    margin-bottom: 0.5rem;
}

/* Contenedor de precio */
.precio {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0;
}

.precio p {
    color: #FFA500;
    font-weight: bold;
}

/* Botón de producto */
.producto button {
    background-color: #FFA500;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.producto button:hover {
    background-color: #e69500;
}

/* Plan de suscripción */
.plan {
    background: #2B2D2F;
    border-radius: 8px;
    margin-inline: auto;
    padding: 2rem;
    width: 100%;
    height: 150px;
}

/* Título del plan */
.plan h2 {
    color: white;
    font-size: 30px;
}

.plan h2 span {
    color: #FFA500;
}

.menuTelefono {
    display: flex;
    width: 100%;
    z-index: 101;
}

.log {
    background-color: #ff0000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu2 {
    position: fixed;
    display: none;
    width: 50%;
    background-color: #0044ff;
    height: 100%;
    z-index: 100;
    
}

@media (max-width: 400px) {

    .barraSuperior {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .menuTelefono {
        display: flex;
    }

    .log img {
        width: 200px;
    }

    header {
        padding: 0 ;

    }

    .barraSuperior {
        display: flex;
    }

    .barraSuperior  img {
        height: 30px;
        width: 100px;
    }
    
}