@import '../../global/estilosGlobales.css';

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 170px;
    margin: 25px auto;
    margin-top: -5px;
}

.banner img {
    border-radius: 20px;
    height: 80%;
    width: 100%;
}

.perfil-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    margin-top: -5px;
    padding: 20px;
}

.perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 300px;
    max-width: 300px; 
    min-width: 200px;
    margin-right: 20px;
    margin-top: -50px;
    transform: scale(0.9,0.9);
}

.perfil-container .icon-perfil2 {
    display: flex;
    justify-content: left;
    margin-top: -150px;
    max-width: 160px;
    height: 160px;
}

.perfil-container .icon-perfil2 img {
    width: 100%;
    height: 100%;
}

.perfil-container .nombre-membresia {
    text-align: center;
    margin-top: -8px;
    max-width: 290px;
    line-height: 1.2;
}

.perfil-container .nombre-membresia h3 {
    font-size: 20px;
}

.perfil-container .nombre-membresia p {
    font-size: 15px;
    font-weight: 500;
}

.perfil-container .perfil-opciones {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 15px;
    width: 90%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.perfil-container .perfil-opciones ul {
    margin: 0 5px;
    list-style: none;
}

.perfil-container .perfil-opciones ul li {
    line-height: 3.5;
}

.perfil-container .perfil-opciones ul li a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.perfil-container .perfil-opciones ul li #selection {
    color: #FFA500;
}

.perfil-container .perfil-opciones ul li a:hover {
    color: #FFA500;
}

.perfil-entrenador {
    flex: 1;
    max-height: 400px;
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
    overflow: auto;
    transform: scale(0.9,0.9);
    line-height: 0.4;
}

.nombre-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 30%;
    width: 60%;
}

.nombre-foto img {
    width: 40%;
    height: 40%;
}

.nombre-foto h2 {
    padding: 5px;
    font-size: 20px;
}

.informacion-entrenador {
    line-height: 2;
    border-radius: 50px;
    padding: 30px;
    height: 30%;
    width: 90%;
}

.informacion-entrenador h3 {
    font-size: 18px;
}


.informacion-entrenador .horarios {
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 5px 0;
    padding: 15px;
    width: 100%;
}

.informacion-entrenador .horarios p {
    font-size: 14px;
    font-weight: 400;
}

.informacion-entrenador .correo {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding-left: 20px;
    margin: 5px 0;
}

.informacion-entrenador .sobre-entrenador {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    line-height: 1.5;
    margin: 5px 0;
}