

/* Reset básico para eliminar márgenes y padding predeterminados */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos base del body */
body {
    font-family: Inter;
    line-height: 1.6;
    background-color: #fff;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    height: 80px;
    background-color: #FFA500;
    border-radius: 10px;
}

/* Contenedor principal con ancho máximo y centrado */
.contenedor {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px 0 270px; /* Añadido padding izquierdo para compensar el menú */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Estilos del header y navegación */
header {
    background-color: transparent;
    padding: 0;
    top: 0;
    width: 100%;
}

/* Configuración del menú principal */
.menu {
    height: 60px;
    background-color: #2B2D2F;
    display: flex;
    padding: 20px 0;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

/* Estilos del logo */
.logo {
    max-width: 200px;
    padding: 0 20px;
}

.logo img {
    width: 100%;
}

/* Lista de navegación */
.menu ul {
    display: flex;
    list-style: none;
    width: 100%;
}

.menu li {
    margin: 15px 0;
    padding: 0 20px;
    width: 100%;
}

.list img{
    display: none;
}

/* Iconos del menú */
.menu ul li img {
    height: 24px;
    width: 24px;
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

/* Enlaces del menú */
.menu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.menu ul li a:hover {
    color: #FFA500;
}


/* Estilos para los elementos del menú con iconos */
.menu ul li {
    display: flex;
    align-items: center;
}

/* Media queries para hacer el menú responsive */
@media screen and (max-width: 900px) {
    .contenedor {
        padding-left: 20px; 
    }
    

}

@media screen and (max-width: 400px) {
    .menu {
        display: block;
        z-index: 1000;
        position: fixed;
        width: 50%;
        height: 100vh;
        padding: 10px;
        box-shadow: none;
    }

    .list {
        display: none;
    }

    .list img {
        display: none;
    }
    
    .logo {
        width: 100%;
    }
    
    .menu ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: #2B2D2F;
        z-index: 1000;
        padding: 10px 0;
    }
    
    
    .contenedor {
        padding-left: 20px;
    }
    
    
    .menu ul li:last-child {
        display: block;

        position: absolute;
        right: 20px;
        top: 20px;
    }

}


